{#<!doctype html>#}
{#<html lang="en" class="fullscreen-bg">#}
{##}
{#<head>#}
{#	<title>Login | Klorofil - Free Bootstrap Dashboard Template</title>#}
{#	<meta charset="utf-8">#}
{#	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">#}
{#	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">#}
{#	<!-- VENDOR CSS -->#}
{#	<link rel="stylesheet" href="/static/css/bootstrap.min.css">#}
{#	<link rel="stylesheet" href="/static/css/font-awesome.min.css">#}
{#	<link rel="stylesheet" href="/static/css/style.css">#}
{#	<!-- MAIN CSS -->#}
{#	<link rel="stylesheet" href="/static/css/main.css">#}
{#	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->#}
{#	<link rel="stylesheet" href="/static/css/demo.css">#}
{#	<!-- GOOGLE FONTS -->#}
{#	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">#}
{#	<!-- ICONS -->#}
{#	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/logo-icon.png">#}
{#	<link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon.png">#}
{#</head>#}
{#<body>#}
{#	<!-- WRAPPER -->#}
{#	<div id="wrapper">#}
{#		<div class="vertical-align-wrap">#}
{#			<div class="vertical-align-middle">#}
{#				<div class="auth-box ">#}
{#					<div class="left">#}
{#						<div class="content">#}
{#							<div class="header">#}
{#								<div class="logo text-center"><img src="/static/img/logo-dark.png" alt="Klorofil Logo"></div>#}
{#								<p class="lead">请登录</p>#}
{#							</div>#}
{#							<form class="form-auth-small" action="/login/" method="post">#}
{#                                {% csrf_token %}#}
{#								<div class="form-group ">#}
{#									<label for="signin-email" class="control-label sr-only">邮箱</label>#}
{#									<input type="email" class="form-control" id="signin-email" name="email"  placeholder="邮箱">#}
{##}
{#                                </div>#}
{#								<div class="form-group ">#}
{#									<label for="signin-password" class="control-label sr-only">密码</label>#}
{#									<input type="password" class="form-control" name="password" id="signin-password"  placeholder="密码">#}
{#								    <span class="help-block " style="color: red">{{ error_msg }}</span>#}
{#                                </div>#}
{#								<div class="form-group clearfix">#}
{#									<label class="fancy-checkbox element-left">#}
{#										<input type="checkbox" name="remember">#}
{#										<span>记住密码</span>#}
{#									</label>#}
{#                                    <a href="/register/" class='text-right'><small>没有账号?</small></a>#}
{#								</div>#}
{#								<button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>#}
{#								<div class="bottom">#}
{#									<span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>#}
{#								</div>#}
{#							</form>#}
{#						</div>#}
{#					</div>#}
{#					<div class="right">#}
{#						<div class="overlay"></div>#}
{#						<div class="content text">#}
{#							<h1 class="heading">Talk is cheap , show me the code</h1>#}
{#							<p>By Linus</p>#}
{#						</div>#}
{#					</div>#}
{#					<div class="clearfix"></div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#	<!-- END WRAPPER -->#}
{#</body>#}
{#</html>#}


<!DOCTYPE html>
<html lang="en" class="fullscreen-bg">

<head>
    <title>家校通登陆</title>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/static/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    {#    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/logo-icon.png">#}
    {#    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon.png">#}
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box">
                <div class="left">
                    <div class="content">
                        <div class="header">

                            {#                                <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=1" width="330" height="35" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>#}
                            {#                                <div class="logo text-center"><img src="/static/img/logo-dark.png" alt="Klorofil Logo"></div>#}
                            <p class="lead">请登录</p>

                        </div>
                        <form class="form-auth-small" action="/login/" method="post">
                            {% csrf_token %}
                            <div class="form-group">

                                {#                                    <label for="signin-email" class="control-label sr-only" >邮箱</label>#}

{#                                <input  class="form-control" id="signin-email" name="email"#}
                                <input  class="form-control" id="signin-email" name="email"
                                       placeholder="邮箱">
                            </div>
                            <div class="form-group">
                                <label for="signin-password" class="control-label sr-only">密码</label>
                                <input type="password" class="form-control" name="password" id="signin-password"
                                       placeholder="密码">
                                <span class="help-block" style="color: red">{{ error_msg }}</span>
                            </div>
                            <div class="form-group clearfix">
                                <label class="fancy-checkbox element-left">
                                    <input type="checkbox" name="remember">
                                    <span>记住密码</span>
                                </label>
                                <a href="/register/" class="text-right"><small>注册学生账号</small></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/admin" style="color: #00aa00"><small>超级管理员?</small></a>
                                &nbsp;&nbsp;&nbsp;
{#                                <a href="/introduction" style="color: #009caa"><small>关于</small></a>#}
                            </div>

                            <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>


         <!--
                            <div class="bottom">
                                <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                            </div>
                            -->
                        </form>
                    </div>
                </div>
                <div class="right">

                    <div class="overlay">


                    </div>


                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- END WRAPPER -->
</body>

</html>
